{% extends 'main.html' %}

{% load static %}
{% block body %}

<br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Lost your password?</h1>
            <span>Supply us with the email address you registered with and we'll send you a link to reset your password.
                <br><br>
                <form action="" method="POST" class="form-contact contact_form">
                    {% csrf_token %}
                    <label class="form-label">Email address</label>
                    <div class="form-group">
                        <input class="form-control valid" name="email" id="email" type="email"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'"
                            placeholder="Email" required>
                    </div>
                    <br><br>
                    <input type="hidden" name="button" value="forgetPassword">
                    <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">RESET PASSWORD</button>
                </form>
            </span>
        </div>
    </div>
</div>
<br><br>

{% endblock %}