{% extends 'main.html' %}

{% load static %}
{% block body %}
{% if errorMessage %}
<div class="alert alert-danger text-center" role="alert">
    {{ errorMessage }}
</div>
{% endif %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            style="background: url('../../static/img/hero/about.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{ jobDict.jobTitle }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-10 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="{{ jobDict.companyLogo }}"
                                    alt="{{ jobDict.companyName }}" width="70px" height="70px"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{ jobDict.jobTitle }}</h4>
                                </a>
                                <ul>
                                    <li>{{ jobDict.companyName }}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{ jobDict.region }}</li>
                                    <li>{{ jobDict.currency }} &nbsp; {{ jobDict.salary }}</li>
                                </ul>
                                <hr>
                                <ul>
                                    <li>{{ jobDict.jobFunction }}</li>
                                    <li>{{ jobDict.industry }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->
                    {% if fromExtra %}
                    {% block extra %}
                    {% endblock %}
                    {% else %}
                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Summary</h4>
                            </div>
                            <p>{{ jobDict.jobSummary }}</p>
                            <ul>
                                <li>Minimum Qualification: &nbsp;<b>{{ jobDict.qualification }}</b></li>
                                <li>Experience Level: &nbsp;<b>{{ jobDict.jobLevel }}</b></li>
                                <li>Experience Length: &nbsp;<b>{{ jobDict.yearExperience }}</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{ jobDict.jobDescription }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>{{ jobDict.time }}</span></li>
                            <li>Location : <span>{{ jobDict.region }}</span></li>
                            <li>Vacancy : <span>{{ jobDict.availableOpenings }}</span></li>
                            <li>Job nature : <span>{{ jobDict.workType }}</span></li>
                            <li>Salary : <span>{{ jobDict.salary }}</span></li>
                            {% block extraList %}
                            {% endblock %}
                        </ul>
                        {% if jobDict.companyId == auth.userId %}
                        <div class="apply-btn2">
                            <div class="row">
                                <div class="col">
                                    <button class="btn" style="background-color: #F30909;" id="myBtn">Remove</button>
                                </div>
                                <div class="col">
                                    <a href="/employer/jobs/create?action=edit&key={{ key }}" class="btn"
                                        style="background-color: #06660E;">Edit</a>
                                </div>
                            </div>

                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <br>
                                    <h2>{{ jobDict.jobTitle }}</h2>
                                    <ul>
                                        <li>Posted date : {{ jobDict.time }}</li>
                                        <li>Salary : {{ jobDict.salary }}</li>
                                        <li>Application date : {{ jobDict.editDate }}</li>
                                    </ul>
                                    <span style="color: red;">Are you sure you want to delete this job post? </span>
                                    <br>
                                    <div class="row">
                                        <div class="col-auto">
                                            <button class="btn"
                                                onclick="document.getElementById('myModal').style.display='none'"
                                                style="background-color: #06660E;">Cancel</button>
                                        </div>
                                        <div class="col">
                                            <a href="/job-details?action=delete&key={{ key }}" class="btn"
                                                style="background-color: #F30909;">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        {% endif %}
                    </div>
                    {% if fromExtra %}
                    {% else %}
                    <div class="post-details4  ">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <ul>
                            <li>Name: <span>{{ jobDict.companyName }} </span></li>
                            <li>Web : <span>{{ jobDict.companyWebsite }}</span></li>
                            <li>Email: <span>{{ jobDict.companyEmail }}</span></li>
                        </ul>
                    </div>
                    <br>
                    {% if allowApplication and auth.userType == "customer" %}
                    <div class="alert alert-primary noStyle" role="alert">
                        Apply Here
                    </div>
                    <form action="" class="form-contact contact_form" method="POST">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                <small>
                                    Note: The application form uses your saved account details. Please ensure you have
                                    verified your phone number and email address before applying for a job.
                                </small>
                                <br>
                                <a href="{% url 'careerProfile' %}" class="underline" style="color: sienna;"><u>Edit
                                        Profile</u></a>
                                <br> <br>
                                <label class="h6">First Name</label>
                                <br>
                                <input type="text" name="fname" class="form-control" required
                                    value="{{ userDetails.fname }}">
                                <br>
                                <label class="h6">Last Name</label>
                                <br>
                                <input type="text" name="lname" class="form-control" required
                                    value="{{ userDetails.lname }}">
                                <br>
                                <label class="h6">Mobile Number</label>
                                <br>
                                <input type="text" name="phone" class="form-control" required
                                    value="{{ userDetails.phone }}">
                                <br>
                                <label class="h6">Minimum Qualification</label>
                                <br>
                                <div class="select-form border">
                                    <div class="select-itms">
                                        <select name="qualification" class="form-select form-control" required>
                                            <option value="Select">Select</option>
                                            {% for qualification in qualifications %}
                                            {% if qualification == userDetails.qualification %}
                                            <option value="{{ qualification }}" selected>{{ qualification }}</option>
                                            {% else %}
                                            <option value="{{ qualification }}">{{ qualification }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <label class="h6">Year of Experience</label>
                                <br>
                                <div class="select-form border">
                                    <div class="select-itms">
                                        <select name="yearExperience" class="form-select form-control" required>
                                            <option value="{{ userDetails.yearExperience }}" selected>
                                                {{ userDetails.yearExperience }}</option>
                                            <option value="No Experience/Less than 1 year">
                                                No Experience/Less than 1 year
                                            </option>
                                            {% for year in yearExperiences %}
                                            <option value="{{ year }} years">{{ year }} years</option>
                                            {% endfor %}
                                            <option value="More than 5 years">More than 5 years</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <label class="h6">Cover Letter</label>
                                <br>
                                <textarea class="form-control" name="note" id="" rows="7" maxlength="2000"
                                    placeholder="Max. 2000 characters">{{ userDetails.note }}</textarea>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" name="saveNote" type="checkbox"
                                        id="flexCheckDefault" checked>

                                    <label class="form-check-label" for="saveNote">
                                        Save my Cover Letter to my Profile
                                    </label>
                                </div>
                                <br>
                                <label class="h6">CV</label>
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cv1"
                                                id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Use exiting CV uploaded
                                                <small>
                                                    Apply with Profile allows for quick and easy applications on the go.
                                                </small>
                                                <br>
                                                <a href="{% url 'careerProfile' %}" class="underline"
                                                    style="color: sienna;"><u>My
                                                        Profile</u></a>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="alert alert-primary" role="alert">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="cv2" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Attack a new CV
                                            <div class="mb-3">
                                                <input class="form-control" type="file" id="formFile" name="cvFile"
                                                    accept=".pdf, .doc, .docx, .rtf">
                                                <br>
                                                <label for="formFile" class="form-label">Optionally upload a CV no
                                                    larger
                                                    than
                                                    10MB for
                                                    file
                                                    types
                                                    .pdf .doc .docx .rtf</label>
                                                <br>
                                                <span>Uploading a new CV will overwrite your current one.</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="key" value="{{ key }}">
                                <input type="hidden" name="companyId" value="{{ jobDict.companyId }}">
                                <input type="hidden" name="button" value="apply">
                                <button class="btn btn-primary" type="submit"
                                    style="width: 100%; font-size: large;">APPLY NOW</button>
                                <small>
                                    By clicking 'Apply Now', you agree to our Terms & Conditions and Privacy Policy
                                </small>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
{% endblock %}