{% extends 'main.html' %}

{% load static %}
{% block body %}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            style="background: url('../../static/img/hero/about.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{ jobDict.jobTitle }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="{% static 'img/icon/job-list1.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{ jobDict.jobTitle }}</h4>
                                </a>
                                <ul>
                                    <li>{{ jobDict.companyName }}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{ jobDict.region }}</li>
                                    <li>{{ jobDict.currency }} &nbsp; {{ jobDict.salary }}</li>
                                </ul>
                                <hr>
                                <ul>
                                    <li>{{ jobDict.jobFunction }}</li>
                                    <li>{{ jobDict.industry }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Summary</h4>
                            </div>
                            <p>{{ jobDict.jobSummary }}</p>
                            <ul>
                                <li>Minimum Qualification: &nbsp;<b>{{ jobDict.qualification }}</b></li>
                                <li>Experience Level: &nbsp;<b>{{ jobDict.jobLevel }}</b></li>
                                <li>Experience Length: &nbsp;<b>{{ jobDict.yearExperience }}</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{ jobDict.jobDescription }}</p>
                        </div>
                        <!-- <div class="post-details2  mb-50"> -->
                        <!-- Small Section Tittle -->
                        <!-- <div class="small-section-tittle">
                                <h4>Required Knowledge, Skills, and Abilities</h4>
                            </div>
                            <ul>
                                <li>System Software Development</li>
                                <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                <li>Research and code , libraries, APIs and frameworks</li>
                                <li>Strong knowledge on software development life cycle</li>
                                <li>Strong problem solving and debugging skills</li>
                            </ul>
                        </div> -->
                        <!-- <div class="post-details2  mb-50"> -->
                        <!-- Small Section Tittle -->
                        <!-- <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                            <ul>
                                <li>3 or more years of professional design experience</li>
                                <li>Direct response email experience</li>
                                <li>Ecommerce website design experience</li>
                                <li>Familiarity with mobile and web apps preferred</li>
                                <li>Experience using Invision a plus</li>
                            </ul>
                        </div> -->
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>{{ jobDict.time }}</span></li>
                            <li>Location : <span>{{ jobDict.region }}</span></li>
                            <li>Vacancy : <span>{{ jobDict.availableOpenings }}</span></li>
                            <li>Job nature : <span>{{ jobDict.workType }}</span></li>
                            <li>Salary : <span>{{ jobDict.salary }}</span></li>
                            <li>Application date : <span>{{ jobDict.editDate }}</span></li>
                        </ul>
                        <div class="apply-btn2">
                            {% if auth.userType == "customer" %}
                            <a href="#" class="btn">Apply Now</a>
                            {% else %}
                            {% if jobDict.companyId == auth.userId %}
                            <div class="row">
                                <div class="col">
                                    <button class="btn" style="background-color: #F30909;" id="myBtn">Remove</button>
                                </div>
                                <div class="col">
                                    <a href="" class="btn" style="background-color: #06660E;">Edit</a>
                                </div>
                            </div>


                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <br>
                                    <h2>{{ jobDict.jobTitle }}</h2>
                                    <ul>
                                        <li>Posted date : {{ jobDict.time }}</li>
                                        <li>Salary : {{ jobDict.salary }}</li>
                                        <li>Application date : {{ jobDict.editDate }}</li>
                                    </ul>
                                    <span style="color: red;">Are you sure you want to delete this job post? </span>
                                    <br>
                                    <div class="row">
                                        <div class="col-auto">
                                            <button class="btn" onclick="document.getElementById('myModal').style.display='none'"
                                                style="background-color: #06660E;">Cancel</button>
                                        </div>
                                        <div class="col">
                                            <a href="/job-details?action=delete&key={{ key }}" class="btn"
                                                style="background-color: #F30909;">Remove</a>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <!-- <span>{{ jobDict.companyName }} </span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a
                            page when looking at its layout.</p> -->
                        <ul>
                            <li>Name: <span>{{ jobDict.companyName }} </span></li>
                            <li>Web : <span>{{ jobDict.companyWebsite }}</span></li>
                            <li>Email: <span>{{ jobDict.companyEmail }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
{% endblock %}