{% extends 'jobDetails.html' %}

{% load static %}

{% block extra %}
<div class="row">
    <div class="col-auto">
        <img src="{{ applicationDict.profilePicture }}" alt="Profile picture" height="150px"
            class="border border-2 border-warning rounded-circle" style="border-color: #11467f !important;" />

    </div>
    <div class="col">
        <h2>{{ applicationDict.fname }} {{ applicationDict.lname }}</h2>
        Gender: &nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.gender }}</span>
        <br>
        Nationality:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.nationality }}</span>
        <br>
        Professional Headline:&nbsp;&nbsp;&nbsp;&nbsp; 
        <span class="h5">{{ applicationDict.professionalHeadline }}</span>
        <br>
        Experience:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.yearExperience }}</span>
        <br>
        Location:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.location }}</span>
        <br>
        Phone:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.phone }}</span>
        <br>
        Email:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.email }}</span>
        <br>
        Minimum Qualification:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.qualification }}</span>
        <br>
        Status:&nbsp;&nbsp;&nbsp;&nbsp; <span class="h5">{{ applicationDict.status }}</span>
    </div>
</div>
<br><br>
<a href="#" style="color: chocolate;">Click to download CV attached</a>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h5>Cover Letter</h5>
        <span>{{ applicationDict.note }}</span>
    </div>
</div>
{% endblock %}

{% block extraList %}
<li>Application date : <span>{{ applicationDict.time }}</span></li>
{% endblock %}

{% block extraRight %}
<div class="alert alert-primary noStyle" role="alert">
    Application
</div>
<form action="" class="form-contact contact_form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <label class="h6">Application Status</label>
            <br>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="status" class="form-select form-control" required>
                        <option value="Select">Select</option>
                        <option value="accepted">Accepted</option>
                        <option value="declined">Declined</option>
                    </select>
                </div>
            </div>
            <br>
            <label class="h6">Note (This can be reasons or any additional information the applicant must be aware
                of)</label>
            <br>
            <textarea class="form-control" name="note" id="" rows="4" maxlength="2000"
                placeholder="Max. 2000 characters"></textarea>
            <hr>
            <label class="h6">Continue if status is changed to 'accepted'</label>
            <br>
            <label class="h6">Send appointment letter</label>
            <br>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="appointmentLetter" class="form-select form-control">
                        <option value="Select">Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <br>
            <label class="h6">Appointment Date</label>
            <br>
            <input type="date" name="date" class="form-control">
            <br>
            <label class="h6">Appointment Time</label>
            <br>
            <input type="time" name="time" class="form-control">
            <br>
            <label class="h6">Venue</label>
            <br>
            <input type="text" name="venue" class="form-control">
            <br>
            <input type="hidden" name="jobId" value="{{ key }}">
            <input type="hidden" name="customerId" value="{{ applicationDict.customerId }}">
            <input type="hidden" name="button" value="complete">
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">COMPLETE</button>
        </div>
    </div>
</form>
{% endblock %}