{% extends 'jobDetails.html' %}

{% load static %}

{% block extra %}
<div class="row">
    <div class="col-auto">
        <img src="{{ applicationDict.profilePicture }}" alt="Profile picture" height="150px"
            class="border border-2 border-warning rounded-circle" style="border-color: #11467f !important;" />

    </div>
    <div class="col">
        <h2>{{ applicationDict.fname }} {{ applicationDict.lname }}</h2>
        <h6>Gender: {{ applicationDict.gender }}</h6>
        <h6>Nationality: {{ applicationDict.nationality }}</h6>
        <h6>Professional Headline: {{ applicationDict.professionalHeadline }}</h6>
        <h6>Experience: {{ applicationDict.yearExperience }}</h6>
        <h6>Location: {{ applicationDict.location }}</h6>
        <h6>Phone: {{ applicationDict.phone }}</h6>
        <h6>Email: {{ applicationDict.email }}</h6>
        <h6>Minimum Qualification: {{ applicationDict.qualification }}</h6>
        <h6>Status: {{ applicationDict.status }}</h6>
    </div>
</div>
<br><br>
<a href="#" style="color: chocolate;">Click to download CV attached</a>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h5>Cover Letter</h5>
        <span>{{ applicationDict.note }}</span>
    </div>
</div>
{% endblock %}

{% block extraList %}
<li>Application date : <span>{{ applicationDict.time }}</span></li>
{% endblock %}

{% block extraRight %}
{% if allowAppointment %}
<div class="alert alert-primary noStyle" role="alert">
    Application
</div>
<form action="" class="form-contact contact_form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <label class="h6">Application Status</label>
            <br>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="status" class="form-select form-control" required>
                        <option value="Select">Select</option>
                        <option value="accepted">Accepted</option>
                        <option value="declined">Declined</option>
                    </select>
                </div>
            </div>
            <br>
            <label class="h6">Note (This can be reasons or any additional information the applicant must be aware
                of)</label>
            <br>
            <textarea class="form-control" name="note" id="" rows="4" maxlength="2000"
                placeholder="Max. 2000 characters"></textarea>
            <hr>
            <label class="h6">Continue if status is changed to 'accepted'</label>
            <br>
            <!-- <label class="h6">Send appointment letter</label>
            <br>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="appointmentLetter" class="form-select form-control">
                        <option value="Select">Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div> -->
            <!-- <br> -->
            <label class="h6">Appointment Date</label>
            <br>
            <input type="date" name="date" class="form-control">
            <br>
            <label class="h6">Appointment Time</label>
            <br>
            <input type="time" name="time" class="form-control">
            <br>
            <label class="h6">Venue</label>
            <br>
            <input type="text" name="venue" class="form-control">
            <br>
            <input type="hidden" name="jobId" value="{{ key }}">
            <input type="hidden" name="costomerEmail" value="{{ applicationDict.email }}">
            <input type="hidden" name="companyName" value="{{ userDetails.companyName }}">
            <input type="hidden" name="customerId" value="{{ applicationDict.customerId }}">
            <input type="hidden" name="customerFname" value="{{ applicationDict.fname }}">
            <input type="hidden" name="button" value="complete">
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">COMPLETE</button>
        </div>
    </div>
</form>
{% else %}
<h4 style="color: chocolate;">Applicant has been attended to already</h4>
{% endif %}
{% endblock %}