{% extends 'studentMain.html' %}

{% load static %}
{% block body %}
<br><br>
<form action="#" class="form-contact contact_form">
    <div class="container">
        <div class="center">
            <h3>Create a Job Seeker Account</h3>
            <h6>Your new career is one click away</h6>
            <h3>STEP 1 of 2</h3>
        </div>
        <br><br>
        <div class="row">
            <div class="col-3">
                <h4>Personal Information</h4>
                <span>This is information pertaining to you as an individual</span>
            </div>
            <div class="col-8">

                <div class="row">
                    <div class="col">
                        <input type="text" id="fname" class="form-control" required placeholder="First Name">
                    </div>
                    <div class="col">
                        <input type="text" id="lname" class="form-control" required placeholder="Last Name">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input type="email" id="email" class="form-control" required placeholder="Email">
                    </div>
                    <div class="col">
                        <input type="password" id="password" class="form-control" required
                            placeholder="Create Password">
                        <div class="row">
                            <div class="col">
                                <span style="font-weight: 400; font-size: smaller;">Minimum 6 Characters</span>
                            </div>
                            <div class="col" style="text-align: end;">
                                <!-- An element to toggle between password visibility -->
                                <input type="checkbox" onclick="showPassword()">&nbsp;&nbsp;Show Password
                            </div>
                        </div>


                    </div>
                </div>
                <hr>
                <label>Date of Birth</label>
                <div class="row">
                    <div class="col">
                        <div class="select-form border">
                            <div class="select-itms">
                                <select name="day" id="select1" required>
                                    <option value="Select" selected>Select</option>
                                    {% for day in dob.day %}
                                    <option value="{{ day }}">{{ day }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="select-form border">
                            <div class="select-itms">
                                <select name="month" id="select1" required>
                                    <option value="Select" selected>Select</option>
                                    {% for month in dob.month %}
                                    <option value="{{ month }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="select-form border">
                            <div class="select-itms">
                                <select name="year" id="select1" required>
                                    <option value="Select" selected>Select</option>
                                    {% for year in dob.year %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Gender</label>
                        <div class="select-form border">
                            <div class="select-itms">
                                <select name="gender" id="select1" required>
                                    <option value="Select" selected>Select</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label>Nationality</label>
                        <div class="select-form border">
                            <div class="select-itms">
                                <select name="nationality" id="select1" required>
                                    <option value="Select" selected>Select</option>
                                    {% for nationality in nationalities %}
                                    <option value="{{ nationality }}">{{ nationality }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <input type="text" id="location" class="form-control" required placeholder="Your location">
                    </div>
                    <div class="col">
                        <input type="tel" id="phone" class="form-control" required placeholder="Phone">
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="center">
            <h3>STEP 2 of 2</h3>
        </div>
        <br><br>
        <div class="row">
            <div class="col-3">
                <h4>Work Information</h4>
                <span>This is information pertaining to your past work experience and your qualifications</span>
            </div>
            <div class="col-8">
               
                <hr>
                By clicking "Create Your Account", you agree to our <a href="#" style="color: #83811D;">TERMS &
                    CONDITIONS</a> and <a href="#" style="color: #83811D;">PRIVACY POLICY</a>
                <br><br>
                <b style="color: black;">Already have an account? <a href="{% url 'login' %}" style="color: #700000;">Log in</a></b>
                <br><br>
                <div class="form-check">
                    <input class="form-check-input" name="tipsAlert" type="checkbox" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        I would like to receive top jobs and career tips
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="jobAlert" type="checkbox" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Sign me up for Job alerts.
                    </label>
                </div>
                <hr>
                <a href="#" class="btn head-btn1">CREATE YOUR ACCOUNT</a>
            </div>
        </div>
    </div>
</form>
<br><br>
{% endblock %}