{% extends 'main.html' %}

{% load static %}
{% block body %}
{% if msg %}
<div class="alert alert-success text-center" role="alert">
    {{ msg }}
</div>
{% endif %}

{% if errorMessage %}
<div class="alert alert-danger text-center" role="alert">
    {{ errorMessage }}
</div>
{% endif %}

<div class="alert alert-primary noStyle" role="alert" style="background-color: #63696E;">
    Get qualified and ranked candidates, quickly, with the new and improved Best Match!
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <img src="{% static 'img/icon/briefCase.svg' %}" alt="" width="100px">
        </div>
        <div class="col">
            <br>
            <h4>{{ userDetails.companyName }}</h4>
            <span>{{ userDetails.address }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <p>JOBS</p>
                    <h1>{{ userDetails.noOfJobs }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <p>APPLICATIONS</p>
                    <h1>{{ userDetails.noOfApplication }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <p>VIEWS</p>
                    <h1>{{ userDetails.noOfViews }}</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="alert alert-primary noStyle" role="alert">
                Recent Job Postings
            </div>
            <br>
            {% for job in jobs %}
            {% if not job.delete %}
            <div class="single-job-items mb-30">
                <div class="job-items">
                    <div class="company-img">
                        <a href="/job-details?action=job&key={{ job.key }}"><img src="{% static 'img/icon/job-list1.png' %}" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="/job-details?action=job&key={{ job.key }}">
                            <h4>{{ job.jobTitle }}</h4>
                        </a>
                        <ul>
                            <li>{{ job.jobFunction }}</li>
                            <li><i class="fas fa-map-marker-alt"></i>{{ job.region }}</li>
                            <li>{{ job.currency }} &nbsp; {{ job.salary }}</li>
                        </ul>
                    </div>
                </div>
                <div class="items-link items-link2 f-right">
                    <a href="/job-details?action=job&key={{ job.key }}">{{ job.workType }}</a>
                    <span>{{ job.time }}</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}