{% extends 'sideBar.html' %}

{% load static %}

{% block body2 %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-primary noStyle" role="alert">
            <div class="row">
                <div class="col">
                    All Customers
                </div>
                <div class="col-auto">
                    <!-- <a href="{% url 'employerViewAllApplication' %}" style="font-size: medium; color: #DBD81A;">VIEW ALL ></a> -->
                </div>
            </div>
        </div>
        <br>
        {% for user in userDetails.customersList %}
        <div class="single-job-items mb-30">
            <div class="job-items">
                <div class="company-img">
                    <a href="#"><img src="{{ user.profilePicture }}"
                            alt="Profile picture" height="100px" width="100px"
                            class="border border-2 border-warning rounded-circle"
                            style="border-color: #11467f !important;" /></a>
                </div>
                <div class="job-tittle job-tittle2">
                    <a href="#">
                        <h4>{{ user.fname }} {{ user.lname }}</h4>
                    </a>
                    {{ user.email }}
                    <ul>
                        <li>Phone: &nbsp; {{ user.phone }}</li>
                        <li>Gender &nbsp; {{ user.gender }}</li>
                        <li>Nationality &nbsp; {{ user.nationality }}</li>
                    </ul>
                    <ul>
                        <li>location: &nbsp; {{ user.location }}</li>
                        <li>Year Experience: &nbsp; {{ user.yearExperience }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}