<!doctype html> {% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ heading }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/customStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressCircleStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdownStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img/logo/logo.png' %}" alt="" style="width:240px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            {% if auth.userType == "employer" %}
                                            <li><a href="{% url 'jobPost' %}">POST A JOB</a></li>
                                            <li><a href="{% url 'employerDashboard' %}">DASHBOARD</a></li>
                                            <li><a href="#">HELP CENTER</a></li>
                                            {% endif %}

                                            {% if auth.userType == "admin" %}
                                            <li><a href="{% url 'aluminaDashboard' %}">DASHBOARD</a></li>
                                            <li><a href="#">HELP CENTER</a></li>
                                            {% endif %}

                                            {% if auth.userType != "employer" and auth.userType != "admin" %}
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="{% url 'jobListings' %}">Find a Jobs </a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            {% endif %}

                                            {% if showTestimonyButton %}
                                            <li><button class="btn head-btn2 removeButtonStyle" id="myBtn"
                                                    style="background-color: white; color: #11467f; border-color: white; font-weight: bold;">Testimony</button>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-rightß d-lg-block">
                                    {% if not auth.authorize %}
                                    <a href="{% url 'register' %}" class="btn head-btn1">Register</a>
                                    <a href="{% url 'login' %}" class="btn head-btn2">Login</a>
                                    {% elif auth.authorize %}
                                    <div class="dropdown">
                                        <a href="#" class="dropbtn">
                                            {% if auth.userType == "employer" %}
                                            <img src="{{ userDetails.logo }}" alt="Profile picture" height="50px"
                                                class="border border-2 border-warning rounded-circle"
                                                style="border-color: #11467f !important;" />
                                            {% else %}
                                            <img src="{{ userDetails.profilePicture }}" alt="Profile picture"
                                                height="50px" class="border border-2 border-warning rounded-circle"
                                                style="border-color: #11467f !important;" />
                                            {% endif %}
                                            <span style="font-size: larger; margin-left: 10px; color: #11467f;">Hi,
                                                {{ userDetails.fname }}</span>
                                            &nbsp; &nbsp;
                                            <img src="{% static 'img/icon/arrow-down.png' %}" height="10px" width="10px"/>
                                        </a>
                                        <div class="dropdown-content">
                                            {% if auth.userType == "employer" or auth.userType == "admin" %}
                                            <a href="#">NOTIFICATION</a>
                                            <a href="#">ACCOUNT SETTING</a>
                                            {% endif %}

                                            {% if auth.userType != "employer" and auth.userType != "admin" %}
                                            <a href="{% url 'customerDashboard' %}">MY DASHBOARD</a>
                                            <a href="{% url 'careerProfile' %}">CAREER PROFILE</a>
                                            <a href="{% url 'profileUpdatePersonal' %}">ACCOUNT SETTING</a>
                                            {% endif %}

                                            <a href="{% url 'logout' %}" style="color: tomato;">LOGOUT</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- body -->
    {% block body %}
    {% endblock %}
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p>A Technical University of global excellence in competency based and
                                            practice-oriented training, applied research and technology transfer.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>Address : Accra Technical University, P.O. Box GP 561, Barnes road, Accra.
                                            Digital</p>
                                        <p>Digital Address : GA-106-2535</p>
                                    </li>
                                    <li><a href="tel:+233332095371">Phone : +233 33 209 5371</a></li>
                                    <li><a href="tel:+233332095371">Phone : +233 33 209 5371</a></li>
                                    <li><a href="mailto:info@atu.edu.gh">Email : info@atu.edu.gh</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="{% url 'jobListings' %}">Find a job</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'contact' %}">Contact`</a></li>
                                    <li><a href="#">Help Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                                </div> -->
                    <!-- Form -->
                    <!-- <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="" method="get"
                                            class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email"
                                                placeholder="Email Address" class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img
                                                        src="{% static 'img/icon/form.png' %}" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div> -->
                    <!-- </div>
                        </div>
                    </div> -->
                </div>
                <!--  -->
                <!-- <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6"> -->
                <!-- logo -->
                <!-- <div class="footer-logo mb-20">
                            <a href=""><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5"> -->
                <!-- Footer Bottom Tittle -->
                <!-- <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>

        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved | This template is made with <i class="fa fa-heart"
                                        aria-hidden="true"></i> by <a href="#" target="_blank">Final Year Project (Group
                                        11)</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="https://web.facebook.com/atuXpress" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/ATUghana" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://atu.edu.gh" target="_blank"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/price_rangs.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Custom Script -->
    <script src="{% static 'js/customScript.js' %}"></script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>