{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="#">
    <div class="alert alert-primary noStyle" role="alert">
        Add Language Skill
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>Language</label>
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="language" class="form-select form-control" required>
                                <option value="Select" selected>Select</option>
                                {% for language in languages %}
                                <option value="{{ language }}">{{ language }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>Proficiency</label>
                    <br>
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="proficiency" class="form-select form-control" required>
                                <option value="Select" selected>Select</option>
                                {% for proficiency in proficiencies %}
                                <option value="{{ proficiency }}">{{ proficiency }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>
        </div>
    </div>
</form>
{% endblock %}