{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block heading %}
<h5>Hello {{ userDetails.fname }}</h5>
<span>Welcome to your Dashboard. Check out what’s happening</span>
<br><br>
{% endblock %}

{% block col1 %}
<div class="alert alert-primary noStyle" role="alert">
    Jobs For You
</div>
<!-- single-job-content -->
{% for job in jobs %}
{% if not job.delete and job.status %}
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="/job-details?action=job&key={{ job.key }}"><img src="{{ job.companyLogo }}"
                    alt="{{ job.companyName }}" width="70px" height="70px"></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="/job-details?action=job&key={{ job.key }}">
                <h4>{{ job.jobTitle }}</h4>
            </a>
            <ul>
                <li>{{ job.jobFunction }}</li>
                <li><i class="fas fa-map-marker-alt"></i>{{ job.region }}</li>
                <li>{{ job.currency }} &nbsp; {{ job.salary }}</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="/job-details?action=job&key={{ job.key }}">{{ job.workType }}</a>
        <span>{{ job.time }}</span>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}