{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="#">
    <div class="alert alert-primary noStyle" role="alert">
        Cover Letter
    </div>
    <div class="card">
        <div class="card-body">
            <label>Highlight your experience, skills and areas of expertise, as well as what you could bring to
                the company and what makes you the best candidate for the job.</label>
            <br>
            <textarea class="form-control" name="note" id="" rows="10" maxlength="2000"
                placeholder="Max. 2000 characters"></textarea>
            <hr>
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>
        </div>
    </div>
</form>
{% endblock %}