{% extends 'findJobsDropdown.html' %}

{% load static %}

{% block submain %}
{% if not auth.verifyEmail %}
<div class="card">
    <div class="card-body" style="background-color: #63696E;">
        <h4 style="color: white;">Confirm your Email Address</h4>
        <p style="color: white;">A verification email was sent to <b style="color: white;">{{ userDetails.email }}</b>
            to confirm your email address.
            <br>Please click on the link contained in this message to verify your account.</span>
            <br><br>
            <a href="/customer/dashboard?action=resend" class="btn head-btn1"
                style="background-color: #DBD81A; color: black;">RESEND EMAIL</a>
    </div>

</div>
{% endif %}
<br>
<div class="alert alert-primary noStyle" role="alert">
    Account Settings
</div>

<div class="card">
    <div class="card-body">
        <div class="btn-group">
            <a href="#" class="btn">Personal Information</a>
            <a href="{% url 'profileUpdatePassword' %}" class="btn"
                style="background-color: white; color: black;">Password</a>
            <a href="{% url 'profileUpdatePhone' %}" class="btn" style="background-color: white; color: black;">Mobile
                Number</a>
            <a href="{% url 'profileUpdateEmail' %}" class="btn" style="background-color: white; color: black;">Email
                Address</a>
        </div>
        <br><br>
        <form action="" class="form-contact contact_form" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <input type="text" name="fname" class="form-control" required placeholder="First Name"
                        value="{{ userDetails.fname }}">
                </div>
                <div class="col">
                    <input type="text" name="lname" class="form-control" required placeholder="Last Name"
                        value="{{ userDetails.lname }}">
                </div>
            </div>
            <br>
            <label>Date of Birth</label>
            <div class="row">
                <div class="col">
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="day" class="form-select form-control" required>
                                <option value="{{ userDetails.dobDay }}" selected>{{ userDetails.dobDay }}</option>
                                <option value="Select">Select</option>
                                {% for day in dob.day %}
                                <option value="{{ day }}">{{ day }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="month" class="form-select form-control" required>
                                <option value="{{ userDetails.dobMonth }}" selected>{{ userDetails.dobMonth }}</option>
                                <option value="Select">Select</option>
                                {% for month in dob.month %}
                                <option value="{{ month }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="year" class="form-select form-control" required>
                                <option value="{{ userDetails.dobYear }}" selected>{{ userDetails.dobYear }}</option>
                                <option value="Select">Select</option>
                                {% for year in dob.year %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <label>Gender</label>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="gender" class="form-select form-control" required>
                        <option value="{{ userDetails.gender }}" selected>
                            {% if userDetails.gender == 'M' %}
                            Male
                            {% else %}
                            Female
                            {% endif %}
                        </option>
                        <option value="Select">Select</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <br>
            <label>Nationality</label>
            <div class="select-form border">
                <div class="select-itms">
                    <select name="nationality" class="form-select form-control" required>
                        <option value="{{ userDetails.nationality }}" selected>{{ userDetails.nationality }}</option>
                        <option value="Select">Select</option>
                        {% for nationality in nationalities %}
                        <option value="{{ nationality }}">{{ nationality }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <btn type="submit" class="btn" style="background-color: #DBD81A; color: black;">SAVE</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}