{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="#">
    <div class="alert alert-primary noStyle" role="alert">
        Add Education
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>Name of Educational Institution/School/etc.</label>
                    <br>
                    <input type="text" name="name" class="form-control" required placeholder="Name">
                </div>
                <div class="col">
                    <label>Minimum Qualification</label>
                    <br>
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="minimumQualification" class="form-select form-control" required>
                                <option value="Select" selected>Select</option>
                                {% for qualification in qualifications %}
                                <option value="{{ qualification }}">{{ qualification }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Qualification</label>
                    <br>
                    <input type="text" name="qualification" class="form-control" required
                        placeholder="Qualification">
                </div>
                <div class="col">
                    <label>Start date</label>
                    <div class="row">
                        <div class="col">
                            <div class="select-form border">
                                <div class="select-itms">
                                    <select name="startMonth" class="form-select form-control" required>
                                        <option value="Select" selected>Month</option>
                                        {% for month in date.month %}
                                        <option value="{{ month }}">{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="select-form border">
                                <div class="select-itms">
                                    <select name="startYear" class="form-select form-control" required>
                                        <option value="Select" selected>Year</option>
                                        {% for year in date.year %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I am still studying this
                        </label>
                    </div>
                </div>
                <div class="col">
                    <label>End date</label>
                    <div class="row">
                        <div class="col">
                            <div class="select-form border">
                                <div class="select-itms">
                                    <select name="endMonth" class="form-select form-control" required>
                                        <option value="Select" selected>Month</option>
                                        {% for month in date.month %}
                                        <option value="{{ month }}">{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="select-form border">
                                <div class="select-itms">
                                    <select name="endYear" class="form-select form-control" required>
                                        <option value="Select" selected>Year</option>
                                        {% for year in date.year %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <label>Description</label>
            <br>
            <textarea class="form-control" name="description" id="" rows="10"></textarea>
        </div>
        <hr>
        <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>

    </div>
</form>
{% endblock %}