{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="" class="form-contact contact_form" method="POST">
    {% csrf_token %}
    <div class="alert alert-primary noStyle" role="alert">
        About Me
    </div>
    <div class="card">
        <div class="card-body">
            <label>Give a short overview of your career history and skills.</label>
            <br>
            <textarea class="form-control" name="note" id="" rows="10" maxlength="500">{{ userDetails.note }}</textarea>
            <hr>
            <input type="hidden" name="button" value="save">
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>
        </div>
    </div>
</form>
{% endblock %}