{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="#">
    <div class="alert alert-primary noStyle" role="alert">
        Add your CV
    </div>
    <div class="card">
        <div class="card-body">
            <span>Upload and save your CV to our system. You can use your uploaded CV to quickly apply for a
                job.</span>
            <br><br>
            <label>Title</label>
            <br>
            <input type="text" name="title" class="form-control" required placeholder="Title">
            <br>
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="cv"
                    accept=".pdf, .doc, .docx, .rtf">
                <br>
                <label for="formFile" class="form-label">Optionally upload a CV no larger than 10MB for file
                    types
                    .pdf .doc .docx .rtf</label>
                <br>
                <span>Uploading a new CV will overwrite your current one.</span>
            </div>
            <hr>
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>
        </div>
    </div>
</form>
{% endblock %}