{% extends 'saveAndjobApplication.html' %}

{% load static %}

{% block col1 %}
<form action="#">
    <div class="alert alert-primary noStyle" role="alert">
        Add Certificate or Award
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>Title</label>
                    <br>
                    <input type="text" name="title" class="form-control" required
                        placeholder="eg. Project Management">
                </div>
                <div class="col">
                    <label>Type</label>
                    <br>
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="type" class="form-select form-control" required>
                                <option value="Select" selected>Select</option>
                                <option value="Select" selected>Certificate</option>
                                <option value="Select" selected>Award</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Year Received</label>
                    <div class="select-form border">
                        <div class="select-itms">
                            <select name="startYear" class="form-select form-control" required>
                                <option value="Select" selected>Select</option>
                                {% for year in date.year %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <button class="btn btn-primary" type="submit" style="width: 100%; font-size: large;">SAVE</button>
        </div>
    </div>
</form>
{% endblock %}