{% extends 'findJobsDropdown.html' %}

{% load static %}

{% block submain %}
<div class="card">
    <div class="card-body" style="background-color: #63696E;">
        <h4 style="color: white;">Confirm your Email Address</h4>
        <p style="color: white;">A verification email was sent to <b
                style="color: white;">michaeltamekloe18.mt@gmail.com</b> to confirm your email address.
            <br>Please click on the link contained in this message to verify your account.</span>
            <br><br>
            <a href="#" class="btn head-btn1" style="background-color: #DBD81A; color: black;">RESEND EMAIL</a>
    </div>

</div>
<br>
<div class="alert alert-primary noStyle" role="alert">
    Account Settings
</div>

<div class="card">
    <div class="card-body">
        <div class="btn-group">
            <a href="{% url 'profileUpdatePersonal' %}" class="btn" style="background-color: white; color: black;">Personal Information</a>
            <a href="{% url 'profileUpdatePassword' %}" class="btn" style="background-color: white; color: black;">Password</a>
            <a href="#" class="btn">Mobile Number</a>
            <a href="{% url 'profileUpdateEmail' %}" class="btn" style="background-color: white; color: black;">Email Address</a>
        </div>
        <br><br>
        <label>Mobile Number</label>
        <input type="tel" id="phone" class="form-control" required placeholder="Mobile Number">
         <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="#" class="btn" style="background-color: #DBD81A; color: black;">SAVE</a>
        </div>
    </div>
</div>
{% endblock %}