{% extends 'main.html' %}

{% load static %}
{% block body %}

{% if not auth.verifyEmail %}
<div class="alert alert-primary noStyle" role="alert" style="background-color: #63696E;">
    Hi {{ userDetails.fname }}, Please verify your account. 
    <a href="/customer/dashboard?action=resend" style="color: #DBD81A;">RESEND VERIFICATION EMAIL</a>
</div>
{% endif %}

{% if msg %}
<div class="alert alert-success text-center" role="alert">
    {{ msg }}
</div>
{% endif %}

{% if errorMessage %}
<div class="alert alert-danger text-center" role="alert">
    {{ errorMessage }}
</div>
{% endif %}

<div class="alert alert-primary noStyle" role="alert">
    <form>
        <div class="row">
            <div class="col col-auto">
                FIND A JOB
            </div>
            <div class="col">
                <div class="select-form">
                    <div class="select-itms">
                        <select name="jobFunction" class="form-select form-control" required>
                            <option value="" selected>All Job Functions</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="select-form">
                    <div class="select-itms">
                        <select name="industry" class="form-select form-control" required>
                            <option value="" selected>All Industries</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <a href="" class="btn head-btn2 removeButtonStyle"
                    style="background-color: white; color: #11467f; padding: 20px 44px;">SEARCH</a>
            </div>
        </div>
    </form>
</div>
<br>

<div class="container">
    {% block submain %}
    {% endblock %}
</div>
<br><br>

{% endblock %}