{% extends 'jobDetails.html' %}

{% load static %}

{% block extra %}
<div class="row">
    <div class="col-auto">
        <img src="{{ applicationDict.profilePicture }}" alt="Profile picture" height="150px"
            class="border border-2 border-warning rounded-circle" style="border-color: #11467f !important;" />

    </div>
    <div class="col">
        <h2>{{ applicationDict.fname }} {{ applicationDict.lname }}</h2>
        <h5>Experience: {{ applicationDict.yearExperience }}</h5>
        <h5>Location: {{ applicationDict.location }}</h5>
        <h5>Phone: {{ applicationDict.phone }}</h5>
        <h5>Minimum Qualification: {{ applicationDict.qualification }}</h5>
        <h5>Status: {{ applicationDict.status }}</h5>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-body">
        <h5>Cover Letter</h5>
        <span>{{ applicationDict.note }}</span>
    </div>
</div>
{% endblock %}

{% block extraList %}
<li>Application date : <span>{{ applicationDict.time }}</span></li>
{% endblock %}

{% block extraRight %}
<div class="alert alert-primary noStyle" role="alert">
    Application
</div>
<div class="card">
    <div class="card-body">
        {% if applicationDict.appointment %}
        Application Status
        <h5>{{ applicationDict.appointment.status }}</h5>
        <br>
        Additional Information
        <h5>{{ applicationDict.appointment.note }}</h5>
        <br>
        {% if applicationDict.appointment.status == "accepted" %}
        Appointment Date
        <h5>{{ applicationDict.appointment.date }}</h5>
        <br>
        Appointment Time
        <h5>{{ applicationDict.appointment.time }}</h5>
        <br>
        Venue
        <h5>{{ applicationDict.appointment.venue }}</h5>
        {% endif %}
        <br>
        {% else %}
        Application Status
        <h5>Pending</h5>
        <br>
        {% endif %}
    </div>
</div>

{% endblock %}