{% extends 'findJobsDropdown.html' %}

{% load static %}

{% block submain %}

{% block heading %}
{% endblock %}
<div class="row">
    <div class="col-8">
        {% block col1 %}
        {% endblock %}
    </div>
    <div class="col-4">
        <a href="#">
            <div class="alert alert-primary noStyle" role="alert">
                <!-- Percentage is base on the color blue-90, yellow-75, pink-60 and many more  -->
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">30%</div>
                </div>
                <br>
                Complete Your Profile
            </div>
        </a>
        <br>
        <div class="alert alert-primary noStyle" role="alert">
            <div class="row">
                <div class="col">
                    Job Application
                </div>
                <div class="col-auto">
                    {% if userDetails.oneAppliedJob %}
                    <a href="{% url 'customerViewAllApplication' %}" style="font-size: medium; color: #DBD81A;">VIEW ALL ></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if userDetails.oneAppliedJob %}
        <div class="single-job-items mb-30">
            <div class="job-items">
                <div class="company-img">
                    <a href="/customer/application/details?action=job&jobId={{ userDetails.oneAppliedJob.jobId }}&companyId={{ userDetails.oneAppliedJob.companyId }}"><img
                            src="{{ userDetails.oneAppliedJob.logo }}" alt="{{ userDetails.oneAppliedJob.companyName }}"
                            height="50px" width="50px"></a>
                </div>
                <div class="job-tittle job-tittle2">
                    <a href="/customer/application/details?action=job&jobId={{ userDetails.oneAppliedJob.jobId }}&companyId={{ userDetails.oneAppliedJob.companyId }}">
                        <h4>{{ userDetails.oneAppliedJob.jobTitle }}</h4>
                    </a>
                    <ul>
                        <li>{{ userDetails.oneAppliedJob.jobFunction }}</li>
                        <li><i class="fas fa-map-marker-alt"></i>{{ userDetails.oneAppliedJob.region }}</li>
                        <li>{{ userDetails.oneAppliedJob.currency }} {{ userDetails.oneAppliedJob.salary }}</li>
                    </ul>
                </div>
            </div>
            <div class="items-link items-link2 f-right">
                <a href="/customer/application/details?action=job&jobId={{ userDetails.oneAppliedJob.jobId }}&companyId={{ userDetails.oneAppliedJob.companyId }}">
                    {{ userDetails.oneAppliedJob.status }}</a>
                <span>{{ userDetails.oneAppliedJob.time }}</span>
            </div>
        </div>
        {% else %}
        <div class="single-job-items mb-30">
            <div class="job-items">
                No Job Applied
            </div>
        </div>
        {% endif %}

        <div class="alert alert-primary noStyle" role="alert">
            <div class="row">
                <div class="col">
                    Saved Jobs
                </div>
                <div class="col-auto">
                    <a href="#" style="font-size: medium; color: #DBD81A;">VIEW ALL ></a>
                </div>
            </div>
        </div>
        <div class="single-job-items mb-30">
            <div class="job-items">
                <div class="company-img">
                    <a href="#"><img src="{% static 'img/icon/job-list1.png' %}" alt=""></a>
                </div>
                <div class="job-tittle job-tittle2">
                    <a href="#">
                        <h4>Digital Marketer</h4>
                    </a>
                    <ul>
                        <li>Creative Agency</li>
                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                        <li>$3500 - $4000</li>
                    </ul>
                </div>
            </div>
            <div class="items-link items-link2 f-right">
                <a href="{% url 'jobDetails' %}">PENDING</a>
                <span>7 hours ago</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}